<!-- <script type="text/ng-template"  id="tree_item_renderer.html">
    {{data.name}}
    <button ng-click="add(data)">Add node</button>
    <button ng-click="delete(data)" ng-show="data.nodes.length > 0">Delete nodes</button>
    <ul>
        <li *ngFor="let data of data.nodes" ng-include="'tree_item_renderer.html'"></li>
    </ul>
</script>

<ul ng-app="Application" ng-controller="TreeController">
    <li *ngFor="let data of tree" ng-include="'tree_item_renderer.html'">

    </li>
</ul> -->
<h1>Vista de árbol</h1><br/>
<!-- <ejs-treeview id="myTree" [fields]="treeFields"
 [showCheckBox]="true" [checkedNodes]="['21','22','3']" [allowDragAndDrop]="true"
 (nodeDragging)="onNodeDragging($event)" (nodeDragStop)="onNodeDragStop($event)"> -->
 <ejs-treeview id="myTree" [fields]="treeFields" [allowDragAndDrop]="true"
    (nodeDragging)="onNodeDragging($event)" (nodeDragStop)="onNodeDragStop($event)">
</ejs-treeview>
